

 .strip{
  margin-top: 20px;
  display: flex;
  box-shadow: contain;
  width: 100%;
}
.first-div{
  text-align: center;
  max-width: 568px;
  margin: auto ;
}

.who{
  text-align: center;
  font-size: 88px;
  font-weight: 900;
  color: #0c1b4d;
  margin-top: 80px;
}
.para{
  width: 94%;
  font-size: 22px;
  line-height: 25px;
  gap:20px;
}


.img-im{
  margin-left: 20px;
}
.img-im img{
  margin-top: 50px;
}
.sec-div{
  display: flex;

}

.vision{

  font-size: 40px;
  margin-bottom: -3%;
}
.vis-p{
  font-size: 24px;
  width: 65%;
  
}
.mis-p{
  font-size: 24px;
  width: 65%;
  margin-top: -32px;
}

.mission{
  font-size: 40px;
}

.our{
margin-top: 10%;
margin-bottom: 10px;
margin-left: 15%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 40px;
font-weight: 900;
}
.third-div{
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin: 0 15%;
  margin-bottom: 80px;
}
svg {
  display: flex;
  color: white; 
  
  justify-content: center;
  margin:auto;
  margin-bottom: -14px;
  
}
.sv-div{
 background-color: #191919;
 padding: 20px 40px;
 border-radius: 10px;
 color: white;
}
@media (min-width: 1024px){

}
