*{
  overflow-x: hiden;
}
.hero-section {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  background-image: url( '/strip.201c0307.svg');
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
  padding: 70px 100px;
  gap: 40px;
}

/* LEFT SIDE */
.hero-text {
  width: 50%;
}

.hero-title {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.1;
  color: #0F1B4C;
}

.highlight {
  color: #00A03E;
}

.highlight-green {
  color: #00A03E;
}

.hero-subtext {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #4B5563;
  max-width: 500px;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 35px;
}

.btn-primary {
  background-color: #3B3CC4;
  color: white;
  border: none;
  padding: 15px 28px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn-outline {
  background-color: white;
  border: 2px solid #3B3CC4;
  color: #1e1e41;
  padding: 15px 28px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* RIGHT IMAGE SECTION */
.hero-image {
  width: 600px;
  position: relative; /* IMPORTANT for floating cards */
}

.dashboard-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* FLOATING CARDS */
.floating {
  position: absolute;
  width: 180px;
  height: 100px;
}

/* EXACT POSITION MATCH */
.top-left {
  top: -25px;
  left: -20px;
}

.right-card {
  top: 110px;
  right: 100px;

}
.bottom-card {
  left: 50px;
  top:250px;
  height: 50%;
  width: 50%;

}
.eneral-secure{
  margin:0;
}
.secure-group{
  display: flex;
  justify-content:center ;
}

h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #0c1b4d;
  margin-bottom: 0;
}
.secure-p{
  font-size: 20px;
  width: 38%;
}



/* smart section*/

.smartmatch-section {
 width: 36%;
  margin-left:80px;
  align-items: center;
   padding-right: 24%;
  padding-left: 20px;
  font-family: "Inter", sans-serif;
  margin-top: 10%;
  position: relative;
  line-height: 20px;
  box-shadow: 0px 2px 5px 0px;
  border: 14px solid white;
  border-radius: 15px;
}


.smart-word{
  margin-right: 0%;
  width: 80%;
  line-height: 28px;
  top:20px;
  padding: 50px;
  color: #2D2D2D;
  margin-top: -44px;
}
.smartMatch{
    font-size: 40px;
  color: #121441;
  padding-top:50px ;
  margin-bottom: -10px;
  font-weight: bold;
  margin-left:43px ;
}
.benefits {
  list-style: none;
  padding: 0;
  margin: 0 0 35px 0;
}

.benefits li {
  display: flex;
  align-items: cener;
  gap: 14px;
  font-size: 16px;
  color: #1a1a1a;
  margin-bottom: 18px;
}

.benefits li img {
  width: 24px;
  height: 24px;
}

.cta {
  display: inline-bloc;
  font-size: 18px;
  font-weight: 600;
  color: #0E991D;
  margin-top: 50%;
  cursor: pointer;
}

.illustration {
    width:40%;
  position: absolute;
  bottom: 0px;
  right: 0;
}



.image-body{
  display: flex;
  object-fit: cover;
  height: 20%;
  width: 50%;
}



.guided{
  width: 36%;
  margin-left: 30%;
  align-items: center;
  padding: 78px 170px;
  font-family: "Inter", sans-serif;
  margin-top: 10%;
  position: relative;
  line-height: 0px;
  box-shadow: 0px 2px 5px 0px;
  border: 14px solid white;
  border-radius: 15px;
}
.guided-img{
  width:30%;
  position: absolute;
  bottom: 0px;
  left: 0;
}
.g-words{
  margin-left: 30%;
  width: 89%;
  line-height: 28px;
  top:20px;
  color: #2D2D2D;
  margin-top: -19px;
}

h3{
  font-size: 40px;
  color: #121441;
  padding-top:-0px ;
  margin-top: -10px;
}
.receive{
  margin-top: -19px;
}




.general-expand{
  display: flex;
  align-items: center;
  margin-bottom: 18%;
}
h4{
  margin-left: 18%;
  font-size:40px;
  font-weight: 700;
    color: rgb(66, 66, 139);
  margin-bottom: 0;
}
.our-platform{
  margin-left: 18%;
  font-size:19px;
  line-height: 1.6;
  color: #4B5563;
  width: 46%;
}

.list{
  margin-left: 18%;
  color: #4B5563;
  font-size:18px;
  line-height: 30px;
}
.general-expand img{
  margin-left: -30%;
}


/* image-animation */
.image-animation{
  margin-bottom: 10%;
  display:grid;
   grid-template-columns: 500px 500px;
  gap: 20px;
  column-gap: 20px;
  border-radius: 10px;
  color: white;
  animation:scroll 15s linear infinite;
  

  
}
@keyframes scroll{
  0%{
    transform:translateX(10%)
  }
  100%{
    transform: translateX(-10%);
  }
}

.image-animation p{
  margin-left: 27%;
  font-size: 19px;
  line-height: 30px;
  margin-top:-7%;
  
}
.sec-img{
  margin-left:18px ;
}
.grid-img{
  background-color: black;
   border-radius: 30px;
   padding: 30px;
}
.imaes{
  padding-top: 40px;
  display: flex;
  align-items:flex-start;
  
}

.blog{
  display: flex;
  background-color: black;
  color: white;
  padding: 10%;
  justify-content: space-between;
  font-size: 19px;
}
.blo{
  font-size: 40px;
  font-weight: bold;
}
.no-blo{
  margin-top: 96px;
}
/* question and answer */
.ques{

  display: flex;
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10%;
}
.line-through {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(219, 212, 212); 
  margin: 20px 0;

}
h5{
  margin-left: 100px;
  font-size: 40px;
  color: rgb(25, 25, 131);
  margin-bottom: 0;
}
.faq{
  width: 40%;
  margin-left: 100px;
  font-size: 17px;
  line-height:35px;
  color: rgb(97, 89, 89);
  text-align: center;
  margin-top: 0;
}
.koppoh{
  margin-bottom: 60px;
}
.questions{
  padding: 30px;
  margin-left: -20%;
  max-width: 50%;
  color: rgb(97, 89, 89);
}




@media (max-width:768px){
  .hero-section {
  padding: 55px 1px;
  gap: 50px;
  flex-direction: column;
}

/* LEFT SIDE */
.hero-text {
  width: 100%;
}

.hero-buttons{
  width: 100%;
}


.hero-image {
  width: 250px;
  position: relative; 
}
.top-left {
  top: 15px;
  left: -20px;
  height: 40%;
  width: 50%;
}

.right-card {
  top: 40px;
  right: -20px;
  height: 40%;
  width: 50%;

}
.bottom-card {
  left: 12px;
  top:120px;
  height: 50%;
  width: 58%;

}
h2{
  text-align: center;
  font-size: 22px;
}
.secure-p{
  font-size: 19px;
  width: 100%;
  text-align: center;
}

.smartmatch-section {
 width: 36%;
  margin-left:80px;
   padding-right: 12%;
  padding-left: 10px;
  line-height: 29px;
}


.smart-word{
  width: 50%;
}

.illustration {
    width:30%;
  position: absolute;
  bottom: 0px;
  right: 0;
}



.guided{
  margin-left: 26%;
  padding: 78px 40px;
  line-height: 29px;
}
.guided-img{
  width:20%;
}
.g-words{
  margin-left: 20%;
  width: 59%;
  line-height: 28px;
}




.general-expand{
  margin-bottom: 18%;
}
h4{
  margin-top: 40%;
  margin-left: 18%;
  font-size:30px;
  width: 40%;
}
.our-platform{
  font-size:17px;
  width: 46%;
}

.list{
  margin-left: 18%;
  color: #4B5563;
  font-size:18px;
  line-height: 30px;
}
.general-expand img{
  margin-left: -40%;
  width: 80%;
}

.image-animation{
  grid-template-columns: 300px 300px;
}.image-animation p{
margin-left: 40%;
}
.questions{
  margin-left: -10%;
}
}

@media (max-width:380px){
   .hero-section {
  padding: 55px 1px;
  gap: 50px;
  flex-direction: column;
  margin-left: 3%;
  width: 100%;
}

/* LEFT SIDE */
.hero-text {
  width: 100%;
  margin-left: 0%;
  font-size: 20px;
}
.hero-title{
  font-size: 30px;
}
.highlight{
  font-size: 30px;
}
.hero-buttons{
  width: 80%;
}


.hero-image {
  width: 250px;
  position: relative; 
}
.top-left {
  top: 15px;
  left: -20px;
  height: 40%;
  width: 50%;
}

.right-card {
  top: 40px;
  right: -20px;
  height: 40%;
  width: 50%;

}
.bottom-card {
  left: 12px;
  top:120px;
  height: 50%;
  width: 58%;

}
h2{
  text-align: center;
  align-items: center;
  font-size: 29px;
  width: 85%;
  
}
.secure-p{
  font-size: 19px;
  text-align: center;
  width: 100%;
}


.smartmatch-section {
 width: 50%;
  align-items: center;
   padding:0 0 0 0;

  line-height: 20px;
  font-size: 20px;
  box-shadow: none;
  margin-left: 0;
  
}
.intro{
  width: 100%;
}
.smartMatch{
  text-align: center;
  margin-left: -35px;
  margin-right: 0;
  
}
.smart-word{
  margin-right: 0%;
  width: 150%;
  margin-left: -70%;
  line-height: 28px;
  top:20px;
  text-align: center;
  color: #2D2D2D;
  
}
.benefits li{
  font-size: 20px;
}

.illustration {
    width:100%;
    height: 70%;
  position: absolute;
  
  top: 70%;
  left: 10px;

}



.guided{
 width: 50%;
  align-items: center;
   padding-right: 0%;
  padding-left: 0px;
  margin-top: 30%;
  line-height: 20px;
  font-size: 20px;
  box-shadow: 0px 0px 0px 0px;
}
h3{
  text-align: center;
  margin-left:0;
  display: flex;
  width: 100%;
  font-size: 20px;
}
.guided-img{
 margin-bottom: -30%;
  width:100%;
}
.g-words{
  margin-left:-50%;
  width: 130%;
  line-height: 28px;
  align-items: center;
}




.general-expand{
  margin-bottom: 18%;
  flex-direction: column;
}
h4{
  margin-top: 40%;
  margin-left: 0;
  font-size:30px;
  width: 200%;
}
.our-platform{
  font-size:20px;
  width: 100%;
  margin-left: 0%;
}

.list{
  margin-left: 0;
  color: #4B5563;
  font-size:18px;
  line-height: 30px;
}
.general-expand img{
  flex-direction: column;
  margin-left: 8%;
  width: 100%;
  object-fit: cover;
}
.blog{
  font-size: 15px;
  width: 80%;
}
.blo{
  font-size: 15px;
  width: 10%;
}
.image-animation{
  grid-template-columns: 300px 300px;
}.image-animation p{
margin-left: 40%;
}
.questions{
  margin-left: -10%;
}

.ques{
  flex-direction: column;
  gap:20px;
}
.faq{
  width: 100%;
  margin-left: 0;
}
.questions{
  width: 100%;
  margin-left: 0;
}
.koppoh{
  width: 150%;
}
.koppoh, P{
  width: 150%;
}

}    
 
